		<center>
        <div class="row" id="footer">
            <div class="panele col-xs-2">
                
            </div>
            <div class="panele col-xs-2">
                <h3>Copyright</h3>
                <ul>
                    <li>©2015 Signature, Inc. All rights reserved.</li>
                </ul>
            </div>
            <div class="panele col-xs-2">
                
            </div>
        </div><!-- #footer -->
        </center>