    <div class="row">
      <div class="navbar navbar-default header">
        <div class="container-fluid header">
          <div class="row header">
            <div class="navbar-collapse header">
              <div class="col-xs-2 panele header"></div>
              <div class="col-md-4"><h1><center>Signatures</center></h1></div>
              <div class="col-xs-2 panele header">
                <ul>
                    <li class="hvr-grow menuElement header"><%= link_to 'Documents', {:controller => 'documents', :action => 'index'} %></li>
                    <li class="hvr-grow menuElement header"><%= link_to 'New Document', {:controller => 'documents', :action => 'new'} %></li>
                </ul>
              </div>               
            </div>
          </div>
        </div>
      </div>
    </div> 